/* DDC Module Styles
 * @import "./ddc.css";
 */

#custom-ddc-brightness {
  background: @bg-base;
  opacity: 0.9;
  padding: 8px 16px;
  margin: 8px 0px;
  border: 2px solid @border;
  border-radius: 8px 8px 8px 8px;
  margin-right: 8px;
}

#custom-ddc-brightness.auto {
  color: @fg-primary;
}

#custom-ddc-brightness.override {
  color: @warning;
}

#custom-ddc-brightness.inactive {
  color: @fg-disabled;
}
